USE [cathy]
GO
/****** Object:  Table [dbo].[image]    Script Date: 07/11/2019 10:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[image](
	[iid] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[iname] [varchar](32) NOT NULL,
	[ifilepath] [varchar](400) NOT NULL,
	[iurl] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[attachment]    Script Date: 07/11/2019 10:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[attachment](
	[aid] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[aname] [varchar](32) NOT NULL,
	[afilepath] [varchar](400) NOT NULL,
	[aurl] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TUser]    Script Date: 07/11/2019 10:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TUser](
	[userid] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[loginname] [varchar](20) NOT NULL,
	[password] [varchar](40) NULL,
	[username] [varchar](20) NOT NULL,
	[createtime] [varchar](40) NULL,
	[lastLoginTime] [varchar](40) NULL,
	[readAndWriteRight] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TUser] ON
INSERT [dbo].[TUser] ([userid], [loginname], [password], [username], [createtime], [lastLoginTime], [readAndWriteRight]) VALUES (CAST(1 AS Numeric(18, 0)), N'admin', N'111111', N'管理员', NULL, NULL, 3)
INSERT [dbo].[TUser] ([userid], [loginname], [password], [username], [createtime], [lastLoginTime], [readAndWriteRight]) VALUES (CAST(2 AS Numeric(18, 0)), N'cathy', N'111111', N'普通用户', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TUser] OFF
/****** Object:  Table [dbo].[tmodule]    Script Date: 07/11/2019 10:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tmodule](
	[tmid] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[tmname] [varchar](40) NOT NULL,
	[tmcomment] [varchar](400) NULL,
	[idx] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tmid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [uniquel] UNIQUE NONCLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tmodule] ON
INSERT [dbo].[tmodule] ([tmid], [tmname], [tmcomment], [idx]) VALUES (CAST(1 AS Numeric(18, 0)), N'代码走读', NULL, 1)
INSERT [dbo].[tmodule] ([tmid], [tmname], [tmcomment], [idx]) VALUES (CAST(2 AS Numeric(18, 0)), N'前台规范', NULL, 2)
INSERT [dbo].[tmodule] ([tmid], [tmname], [tmcomment], [idx]) VALUES (CAST(7 AS Numeric(18, 0)), N'3', NULL, 4)
SET IDENTITY_INSERT [dbo].[tmodule] OFF
/****** Object:  Table [dbo].[mcolumn]    Script Date: 07/11/2019 10:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mcolumn](
	[mcid] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[mcname] [varchar](40) NOT NULL,
	[mccomment] [varchar](400) NULL,
	[tmid] [numeric](18, 0) NULL,
	[route_path] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[mcid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[mcolumn] ON
INSERT [dbo].[mcolumn] ([mcid], [mcname], [mccomment], [tmid], [route_path]) VALUES (CAST(24 AS Numeric(18, 0)), N'2019年6月', N'', CAST(1 AS Numeric(18, 0)), NULL)
INSERT [dbo].[mcolumn] ([mcid], [mcname], [mccomment], [tmid], [route_path]) VALUES (CAST(44 AS Numeric(18, 0)), N'样式规范', N'', CAST(2 AS Numeric(18, 0)), NULL)
INSERT [dbo].[mcolumn] ([mcid], [mcname], [mccomment], [tmid], [route_path]) VALUES (CAST(45 AS Numeric(18, 0)), N'控件规范', N'', CAST(2 AS Numeric(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[mcolumn] OFF
/****** Object:  Table [dbo].[article]    Script Date: 07/11/2019 10:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[article](
	[aid] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[title] [varchar](40) NOT NULL,
	[tag] [varchar](100) NULL,
	[author] [varchar](32) NULL,
	[acomment] [varchar](400) NULL,
	[createtime] [varchar](100) NULL,
	[bodypart] [image] NULL,
	[images] [varchar](800) NULL,
	[attachments] [varchar](800) NULL,
	[mcid] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[article] ON
SET IDENTITY_INSERT [dbo].[article] OFF
/****** Object:  Default [DF__article__title__4D94879B]    Script Date: 07/11/2019 10:28:16 ******/
ALTER TABLE [dbo].[article] ADD  DEFAULT ('文章名称') FOR [title]
GO
/****** Object:  Default [DF__mcolumn__mcname__47DBAE45]    Script Date: 07/11/2019 10:28:16 ******/
ALTER TABLE [dbo].[mcolumn] ADD  DEFAULT ('栏目名称') FOR [mcname]
GO
/****** Object:  Default [DF__tmodule__tmname__4316F928]    Script Date: 07/11/2019 10:28:16 ******/
ALTER TABLE [dbo].[tmodule] ADD  DEFAULT ('模块名称') FOR [tmname]
GO
/****** Object:  Default [DF__TUser__readAndWr__5AEE82B9]    Script Date: 07/11/2019 10:28:16 ******/
ALTER TABLE [dbo].[TUser] ADD  DEFAULT ((1)) FOR [readAndWriteRight]
GO
/****** Object:  ForeignKey [FK_MCID]    Script Date: 07/11/2019 10:28:16 ******/
ALTER TABLE [dbo].[article]  WITH CHECK ADD  CONSTRAINT [FK_MCID] FOREIGN KEY([mcid])
REFERENCES [dbo].[mcolumn] ([mcid])
GO
ALTER TABLE [dbo].[article] CHECK CONSTRAINT [FK_MCID]
GO
/****** Object:  ForeignKey [FK_TMID]    Script Date: 07/11/2019 10:28:16 ******/
ALTER TABLE [dbo].[mcolumn]  WITH CHECK ADD  CONSTRAINT [FK_TMID] FOREIGN KEY([tmid])
REFERENCES [dbo].[tmodule] ([tmid])
GO
ALTER TABLE [dbo].[mcolumn] CHECK CONSTRAINT [FK_TMID]
GO
